


/*---------------------
margin-bottom
---------------------*/
.u-mb10 {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .u-mb10 {
    margin-bottom: 5px;
  }
}

.u-mb20 {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .u-mb20 {
    margin-bottom: 10px;
  }
}

.u-mb30 {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .u-mb30 {
    margin-bottom: 15px;
  }
}

.u-mb40 {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .u-mb40 {
    margin-bottom: 20px;
  }
}

.u-mb50 {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .u-mb50 {
    margin-bottom: 25px;
  }
}

.u-mb60 {
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .u-mb60 {
    margin-bottom: 30px;
  }
}

.u-mb70 {
  margin-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .u-mb70 {
    margin-bottom: 35px;
  }
}

.u-mb80 {
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .u-mb80 {
    margin-bottom: 40px;
  }
}

.u-mb90 {
  margin-bottom: 90px;
}
@media screen and (max-width: 768px) {
  .u-mb90 {
    margin-bottom: 45px;
  }
}

.u-mb100 {
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .u-mb100 {
    margin-bottom: 50px;
  }
}

.u-mb110 {
  margin-bottom: 110px;
}
@media screen and (max-width: 768px) {
  .u-mb110 {
    margin-bottom: 55px;
  }
}

.u-mb120 {
  margin-bottom: 0
}
@media screen and (max-width: 768px) {
  .u-mb120 {
    margin-bottom: 0;
  }
}

.u-mb130 {
  margin-bottom: 130px;
}
@media screen and (max-width: 768px) {
  .u-mb130 {
    margin-bottom: 65px;
  }
}

.u-mb140 {
  margin-bottom: 140px;
}
@media screen and (max-width: 768px) {
  .u-mb140 {
    margin-bottom: 70px;
  }
}

.u-mb150 {
  margin-bottom: 150px;
}
@media screen and (max-width: 768px) {
  .u-mb150 {
    margin-bottom: 75px;
  }
}

.u-mb160 {
  margin-bottom: 160px;
}
@media screen and (max-width: 768px) {
  .u-mb160 {
    margin-bottom: 80px;
  }
}

.u-mb170 {
  margin-bottom: 170px;
}
@media screen and (max-width: 768px) {
  .u-mb170 {
    margin-bottom: 85px;
  }
}

.u-mb180 {
  margin-bottom: 180px;
}
@media screen and (max-width: 768px) {
  .u-mb180 {
    margin-bottom: 90px;
  }
}

.u-mb190 {
  margin-bottom: 190px;
}
@media screen and (max-width: 768px) {
  .u-mb190 {
    margin-bottom: 95px;
  }
}

.u-mb200 {
  margin-bottom: 200px;
}
@media screen and (max-width: 768px) {
  .u-mb200 {
    margin-bottom: 100px;
  }
}

/*---------------------
u-display
---------------------*/
.u-display--pc {
  display: block;
}
@media screen and (max-width: 580px) {
  .u-display--pc {
    display: none;
  }
}
.u-display--lg {
  display: none;
}
@media screen and (max-width: 1024px) {
  .u-display--lg {
    display: block;
  }
}
.u-display--md {
  display: none;
}
@media screen and (max-width: 768px) {
  .u-display--md {
    display: block;
  }
}
.u-display--smd {
  display: none;
}
@media screen and (max-width: 580px) {
  .u-display--smd {
    display: block;
  }
}

.u-font_size--35 {
  font-size: 3.5rem;
}
@media screen and (max-width: 1200px) {
  .u-font_size--35 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1024px) {
  .u-font_size--35 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .u-font_size--35 {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 580px) {
  .u-font_size--35 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 425px) {
  .u-font_size--35 {
    font-size: 1.6rem;
  }
}
.u-font_size--150per {
  font-size: 150%;
}

.u-line--blue {
  border-bottom: 2px solid #136fb7;
}

.u-text_align--center {
  text-align: center;
}

/*---------------------
fade
---------------------*/
.u-fade_top01 {
  opacity: 0;
  -webkit-transform: translateY(90px);
          transform: translateY(90px);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media screen and (max-width: 768px) {
  .u-fade_top01 {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
}

.u-fade_top02 {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
@media screen and (max-width: 768px) {
  .u-fade_top02 {
    -webkit-transform: translateY(90px);
            transform: translateY(90px);
  }
}

.u-fade_top03 {
  opacity: 0;
  -webkit-transform: translateY(110px);
          transform: translateY(110px);
  -webkit-transition: all 1s;
  transition: all 1s;
}
@media screen and (max-width: 768px) {
  .u-fade_top03 {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

.u-fade_top04 {
  opacity: 0;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------
animation
---------------------*/
.u-btn_ani {
  -webkit-animation: btn 2s ease 0s infinite alternate;
          animation: btn 2s ease 0s infinite alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes btn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  42% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  58% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes btn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  42% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  58% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.u-scale {
  -webkit-animation: scale 0.6s ease 0s infinite alternate;
          animation: scale 0.6s ease 0s infinite alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes scale {
  from {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes scale {
  from {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
/*------------------------------------------
c-wrapper
------------------------------------------*/
.c-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-right: 2rem;
  padding-left: 2rem;
  position: relative;
  width: 100%;
  max-width: 1240px;
}
@media screen and (max-width: 768px) {
  .c-wrapper {
    padding: 0 4%;
  }
}

/*------------------------------------------
c-card
------------------------------------------*/
.c-card {
  padding-top: 3rem;
  padding-bottom: 6rem;
}
@media screen and (max-width: 1024px) {
  .c-card {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .c-card {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
}
@media screen and (max-width: 580px) {
  .c-card {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
}

/*------------------------------------------
c-note
------------------------------------------*/
.c-note {
  background: -webkit-gradient(linear, left top, right top, from(#1065a7), color-stop(31%, #08a17b), color-stop(64%, #098283), to(#08a17b));
  background: linear-gradient(to right, #1065a7 0%, #08a17b 31%, #098283 64%, #08a17b 100%);
  border-radius: 24px;
  padding: 4px;
  position: relative;
}
@media screen and (max-width: 580px) {
  .c-note {
    border-radius: 12px;
    padding: 2px;
  }
}
.c-note__inner_box {
  background: #fff;
  border-radius: 20px;
  padding: 2em 5em;
}
@media screen and (max-width: 1024px) {
  .c-note__inner_box {
    padding: 2em 3em;
  }
}
@media screen and (max-width: 580px) {
  .c-note__inner_box {
    border-radius: 10px;
    padding: 2em 1.5em;
  }
}

/*------------------------------------------
p-arrow
------------------------------------------*/
.p-arrow {
  -webkit-animation: move-y 0.5s infinite alternate ease-in-out;
          animation: move-y 0.5s infinite alternate ease-in-out;
  height: auto;
  position: relative;
  max-width: 86px;
}
@media screen and (max-width: 580px) {
  .p-arrow {
    width: 20%;
  }
}
@-webkit-keyframes move-y {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
}
@keyframes move-y {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
}

/*------------------------------------------
p-title
------------------------------------------*/
.p-title {
  background: #136fb7;
  padding: 5em 1em;
}
@media screen and (max-width: 1024px) {
  .p-title {
    padding: 3.5em 1em;
  }
}
@media screen and (max-width: 768px) {
  .p-title {
    padding: 2em 1em;
  }
}
.p-title h2 {
  color: #fff;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .p-title h2 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .p-title h2 {
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 580px) {
  .p-title h2 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 425px) {
  .p-title h2 {
    font-size: 2.2rem;
  }
}
.p-title h2 span {
  color: #e6ff3f;
  font-size: 120%;
  font-weight: 600;
}

/*------------------------------------------
p-form
------------------------------------------*/
.p-form {
  text-align: center;
}
.p-form__email {
  text-align: center;
}
.p-form__email input {
  border: 4px solid #a5d84a;
  font-size: 1.8rem;
  padding: 2.2rem;
  width: 70%;
}
@media screen and (max-width: 1024px) {
  .p-form__email input {
    border: 3.5px solid #a5d84a;
    font-size: 1.6rem;
    padding: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .p-form__email input {
    border: 2.5px solid #a5d84a;
    font-size: 1.3rem;
    width: 80%;
  }
}
@media screen and (max-width: 425px) {
  .p-form__email input {
    border: 2px solid #a5d84a;
    font-size: 1.1rem;
    padding: 1.3rem;
    width: 100%;
  }
}
.p-form__btn img {
  max-width: 584px;
}
@media screen and (max-width: 768px) {
  .p-form__btn img {
    width: 60%;
  }
}
@media screen and (max-width: 580px) {
  .p-form__btn img {
    width: 85%;
  }
}
.p-form__check_box--wht p {
  color: #fff;
  text-shadow: 0 0 10px rgb(4, 29, 32);
}
@media screen and (max-width: 580px) {
  .p-form__check_box--wht p {
    padding-left: 1.5em;
    text-align: start;
    text-indent: -1.5em;
  }
}
.p-form__check_box--wht p label input {
  display: none;
}
.p-form__check_box--wht p label input:checked + span::after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 4px;
  width: 7px;
  height: 14px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  border-bottom: 3px solid #f85a29;
  border-right: 3px solid #f85a29;
}
@media screen and (max-width: 425px) {
  .p-form__check_box--wht p label input:checked + span::after {
    height: 12px;
  }
}
.p-form__check_box--wht p label span {
  padding-left: 20px;
  position: relative;
  margin-right: 0px;
  font-size: 1.6rem;
}
@media screen and (max-width: 768px) {
  .p-form__check_box--wht p label span {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 425px) {
  .p-form__check_box--wht p label span {
    font-size: 1.1rem;
  }
}
.p-form__check_box--wht p label span::before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1.5px solid #fff;
}
@media screen and (max-width: 425px) {
  .p-form__check_box--wht p label span::before {
    top: 4px;
  }
}
.p-form__check_box--wht p label span a {
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 1.6rem;
}
@media screen and (max-width: 768px) {
  .p-form__check_box--wht p label span a {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 425px) {
  .p-form__check_box--wht p label span a {
    font-size: 1.2rem;
  }
}
.p-form__check_box--wht p label span a:hover {
  opacity: 0.8;
}
.p-form__annotation {
  font-size: 1.5rem;
  padding-left: 1em;
  text-indent: -1em;
  text-shadow: 0 0 6px rgb(255, 255, 255);
  text-align: start;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
}
@media screen and (max-width: 768px) {
  .p-form__annotation {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 425px) {
  .p-form__annotation {
    font-size: 1.1rem;
  }
}

.p-form {
  text-align: center;
}
.p-form__email {
  text-align: center;
}
.p-form__email input {
  border: 4px solid #a5d84a;
  font-size: 1.8rem;
  padding: 2.2rem;
  width: 70%;
}
@media screen and (max-width: 1024px) {
  .p-form__email input {
    border: 3.5px solid #a5d84a;
    font-size: 1.6rem;
    padding: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .p-form__email input {
    border: 2.5px solid #a5d84a;
    font-size: 1.3rem;
    width: 80%;
  }
}
@media screen and (max-width: 425px) {
  .p-form__email input {
    border: 2px solid #a5d84a;
    font-size: 1.1rem;
    padding: 1.3rem;
    width: 100%;
  }
}
.p-form__btn img {
  max-width: 584px;
}
@media screen and (max-width: 768px) {
  .p-form__btn img {
    width: 60%;
  }
}
@media screen and (max-width: 580px) {
  .p-form__btn img {
    width: 85%;
  }
}
.p-form__check_box--blk p {
  text-shadow: 0 0 10px rgb(255, 255, 255);
}
@media screen and (max-width: 580px) {
  .p-form__check_box--blk p {
    padding-left: 1.5em;
    text-align: start;
    text-indent: -1.5em;
  }
}
.p-form__check_box--blk p label input {
  display: none;
}
.p-form__check_box--blk p label input:checked + span::after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 4px;
  width: 7px;
  height: 14px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  border-bottom: 3px solid #f85a29;
  border-right: 3px solid #f85a29;
}
@media screen and (max-width: 425px) {
  .p-form__check_box--blk p label input:checked + span::after {
    height: 12px;
  }
}
.p-form__check_box--blk p label span {
  padding-left: 20px;
  position: relative;
  margin-right: 0px;
  font-size: 1.6rem;
}
@media screen and (max-width: 768px) {
  .p-form__check_box--blk p label span {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 425px) {
  .p-form__check_box--blk p label span {
    font-size: 1.1rem;
  }
}
.p-form__check_box--blk p label span::before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #111;
}
@media screen and (max-width: 425px) {
  .p-form__check_box--blk p label span::before {
    top: 4px;
  }
}
.p-form__check_box--blk p label span a {
  border-bottom: 1px solid #016aa0;
  color: #016aa0;
  font-size: 1.6rem;
}
@media screen and (max-width: 768px) {
  .p-form__check_box--blk p label span a {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 425px) {
  .p-form__check_box--blk p label span a {
    font-size: 1.2rem;
  }
}
.p-form__check_box--blk p label span a:hover {
  opacity: 0.8;
}
.p-form__annotation {
  font-size: 1.5rem;
  padding-left: 1em;
  text-indent: -1em;
  text-shadow: 0 0 6px rgb(255, 255, 255);
  text-align: start;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
}
@media screen and (max-width: 768px) {
  .p-form__annotation {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 425px) {
  .p-form__annotation {
    font-size: 1.1rem;
  }
}

/*------------------------------------------
p-breadcrumb(sub_page)
------------------------------------------*/
.p-breadcrumb {
  background: #373648;
  padding: 1rem 0 1rem 1rem;
}
@media screen and (max-width: 580px) {
  .p-breadcrumb {
    padding: 0.5rem 0 0.5rem 1rem;
  }
}
.p-breadcrumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}
.p-breadcrumb ul li {
  color: #fff;
  font-size: 1.6rem;
  list-style-type: none;
}
@media screen and (max-width: 768px) {
  .p-breadcrumb ul li {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 580px) {
  .p-breadcrumb ul li {
    font-size: 1.1rem;
  }
}
.p-breadcrumb ul li a {
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 1.6rem;
}
@media screen and (max-width: 768px) {
  .p-breadcrumb ul li a {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 580px) {
  .p-breadcrumb ul li a {
    font-size: 1.1rem;
  }
}
.p-breadcrumb ul li a:hover {
  opacity: 0.7;
}
.p-breadcrumb ul li:last-child::before {
  content: "＞";
  font-size: 1.6rem;
  padding: 0 0.8rem;
}
@media screen and (max-width: 768px) {
  .p-breadcrumb ul li:last-child::before {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 580px) {
  .p-breadcrumb ul li:last-child::before {
    font-size: 1.1rem;
  }
}

/* ------------------------------------------------------------
l-header
------------------------------------------------------------ */
.l-header__logo {
  background: #ffffff;
  position: absolute;
  z-index: 1;
}
.l-header__logo a {
  display: block;
  padding: 3rem;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .l-header__logo a {
    padding: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .l-header__logo a {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 580px) {
  .l-header__logo a {
    padding: 1rem;
  }
}
.l-header__logo a img {
  width: 64px;
}
@media screen and (max-width: 768px) {
  .l-header__logo a img {
    width: 45px;
  }
}
@media screen and (max-width: 580px) {
  .l-header__logo a img {
    width: 40px;
  }
}

/* ------------------------------------------------------------
l-fv
------------------------------------------------------------ */
.l-fv {
  color: #fff;
  position: relative;
}
.l-fv__bg {
  position: relative;
  overflow: hidden;
  height: clamp(500px, 100vw, 400px);
  width: 100%;
  background-image: url("../images/bg_20230311133235.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media screen and (max-width: 767px){
  .l-fv__bg{height: 300px}
}


.l-fv__bg video {
  position: absolute;
  top: 50%;
  left: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.l-fv__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}
.l-fv__inner__main_img {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .l-fv__inner__main_img {
    width: min(85%, 768px);
  }
}
@media screen and (max-width: 580px) {
  .l-fv__inner__main_img {
    width: min(92%, 768px);
  }
}
.l-fv__inner__btn {
  max-width: 522px;
}
@media screen and (max-width: 768px) {
  .l-fv__inner__btn {
    width: 100%;
  }
}
@media screen and (max-width: 580px) {
  .l-fv__inner__btn {
    width: 100%;
  }
}

/* ------------------------------------------------------------
l-hint
------------------------------------------------------------ */
.l-hint {
  margin-bottom: 30px;
}
.l-hint__title {
  background: #373648;
  padding: 4rem 1rem 13rem;
  position: relative;
  z-index: 0;
}
@media screen and (max-width: 768px) {
  .l-hint__title {
    padding: 3rem 1rem 10rem;
  }
}
@media screen and (max-width: 580px) {
  .l-hint__title {
    padding: 3rem 1rem 8rem;
  }
}
@media screen and (max-width: 425px) {
  .l-hint__title {
    padding: 2rem 1rem 8rem;
  }
}
.l-hint__title::after {

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 100%;
  right: 50%;
  -webkit-transform: translatex(50%);
          transform: translatex(50%);
  border-right: calc(50vw - 10px) solid transparent;
  border-left: calc(50vw - 10px) solid transparent;
  border-top: 8em solid #373648;
}
@media screen and (max-width: 1024px) {
  .l-hint__title::after {
    border-top: 6em solid #373648;
  }
}
@media screen and (max-width: 768px) {
  .l-hint__title::after {
    border-top: 4em solid #373648;
  }
}
@media screen and (max-width: 580px) {
  .l-hint__title::after {
    border-top: 3em solid #373648;
  }
}
.l-hint__title h2 {
  position: relative;
}
.l-hint__title h2 img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: min(92%, 950px);
  z-index: 1;
}
.l-hint__contents {
  padding-top: 17rem;
  margin-right: auto;
  margin-left: auto;
  width: min(92%, 1100px);
}
@media screen and (max-width: 1200px) {
  .l-hint__contents {
    padding-top: 14rem;
  }
}
@media screen and (max-width: 1024px) {
  .l-hint__contents {
    padding-top: 10rem;
  }
}
@media screen and (max-width: 768px) {
  .l-hint__contents {
    padding-top: 18rem;
  }
}
@media screen and (max-width: 650px) {
  .l-hint__contents {
    padding-top: 13rem;
  }
}
@media screen and (max-width: 580px) {
  .l-hint__contents {
    padding-top: 11rem;
  }
}
@media screen and (max-width: 500px) {
  .l-hint__contents {
    padding-top: 6rem;
  }
}
@media screen and (max-width: 425px) {
  .l-hint__contents {
    padding-top: 6rem;
  }
}
@media screen and (max-width: 370px) {
  .l-hint__contents {
    padding-top: 5rem;
  }
}
@media screen and (max-width: 320px) {
  .l-hint__contents {
    padding-top: 2rem;
  }
}
.l-hint__contents__text {
  font-size: clamp(1.6rem, 2.2vw, 2.2rem);
}
.l-hint__contents__text strong {
  color: #f85a29;
  font-size: 120%;
}
.l-hint__contents__text span {
  border-bottom: 1px solid #f85a29;
  color: #f85a29;
  font-size: 120%;
  font-weight: 600;
}
.l-hint__contents__img {
  max-width: 1100px;
}
.l-hint__contents__arrow {
  font-size: clamp(1.8rem, 3vw, 3rem);
  font-weight: 500;
  text-align: center;
}

/* ------------------------------------------------------------
l-archivement
------------------------------------------------------------ */
.l-archivement__contents {
  background: #eaf3fb;
}
.l-archivement__contents__inner p {
  font-size: 1rem;
  text-indent: -1em;
  padding-left: 1em;
  margin-right: 2em;
  margin-left: 2em;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .l-archivement__contents__inner p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .l-archivement__contents__inner p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 580px) {
  .l-archivement__contents__inner p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 425px) {
  .l-archivement__contents__inner p {
    font-size: 0.8rem;
  }
}

/* ------------------------------------------------------------
l-rule
------------------------------------------------------------ */
.l-rule__contents {
  background: url(../images/about_bg01.jpg) no-repeat center/cover;
  padding-bottom: 25rem;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .l-rule__contents {
    padding-bottom: 20rem;
  }
}
@media screen and (max-width: 768px) {
  .l-rule__contents {
    padding-bottom: 15rem;
  }
}
@media screen and (max-width: 580px) {
  .l-rule__contents {
    padding-bottom: 12rem;
  }
}
.l-rule__contents::after {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: calc(100% - 8em);
  right: 50%;
  -webkit-transform: translatex(50%);
          transform: translatex(50%);
  border-right: 50vw solid #fff;
  border-left: 50vw solid #fff;
  border-top: 8em solid transparent;
}
@media screen and (max-width: 1024px) {
  .l-rule__contents::after {
    top: calc(100% - 6em);
    border-top: 6em solid transparent;
  }
}
@media screen and (max-width: 768px) {
  .l-rule__contents::after {
    top: calc(100% - 4em);
    border-top: 4em solid transparent;
  }
}
.l-rule__contents__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.l-rule__contents__inner__list {
  background: #fff;
  border-radius: 20px;
  padding: 0 3em;
  position: relative;
  margin: 7rem auto 10rem;
  max-width: 520px;
  width: 47%;
}
@media screen and (max-width: 768px) {
  .l-rule__contents__inner__list {
    padding: 0 2em;
    margin: 5rem auto;
    width: 100%;
  }
}
.l-rule__contents__inner__list__position {
  position: relative;
  top: -7rem;
}
@media screen and (max-width: 768px) {
  .l-rule__contents__inner__list__position {
    top: -5rem;
  }
}
.l-rule__contents__inner__list__position img {
  max-width: 206px;
}
@media screen and (max-width: 768px) {
  .l-rule__contents__inner__list__position img {
    width: 50%;
  }
}
.l-rule__contents__inner__list__position h3 {
  color: #136fb7;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .l-rule__contents__inner__list__position h3 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .l-rule__contents__inner__list__position h3 {
    font-size: 2.1rem;
  }
}
@media screen and (max-width: 580px) {
  .l-rule__contents__inner__list__position h3 {
    font-size: 1.9rem;
  }
}
.l-rule__contents__inner__list:nth-child(3) {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .l-rule__contents__inner__list:nth-child(3) {
    margin-bottom: 5rem;
  }
}
.l-rule__contents__inner__list:nth-child(4) {
  margin-bottom: 0;
}
.l-rule__title h2 {
  text-align: center;
  border-bottom: 5px solid #a5d84a;
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 2rem;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .l-rule__title h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .l-rule__title h2 {
    border-bottom: 2px solid #a5d84a;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 580px) {
  .l-rule__title h2 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 425px) {
  .l-rule__title h2 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 370px) {
  .l-rule__title h2 {
    font-size: 1.4rem;
  }
}
.l-rule__title h2::before {
  content: "";
  border-color: #a5d84a transparent transparent transparent;
  border-style: solid;
  border-width: 45px 45px 0 45px;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: -47px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .l-rule__title h2::before {
    border-width: 22px 22px 0 22px;
    bottom: -23px;
  }
}
.l-rule__title h2::after {
  content: "";
  position: absolute;
  right: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -40px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  border-width: 40px 40px 0 40px;
}
@media screen and (max-width: 768px) {
  .l-rule__title h2::after {
    border-width: 20px 20px 0 20px;
    bottom: -20px;
  }
}
.l-rule__title h2 em {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .l-rule__title h2 em {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .l-rule__title h2 em {
    font-size: 1rem;
  }
}
@media screen and (max-width: 580px) {
  .l-rule__title h2 em {
    font-size: 1rem;
  }
}
.l-rule__title h2 em span {
  color: #136fb7;
  font-size: 120%;
  font-weight: 600;
}
.l-rule__flex_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.l-rule__flex_box__text {
  max-width: 750px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .l-rule__flex_box__text {
    width: 100%;
  }
}
.l-rule__flex_box__text span {
  border-bottom: 1px solid #111;
  font-weight: 500;
}
.l-rule__flex_box__img {
  margin-right: auto;
  margin-bottom: 3rem;
  margin-left: auto;
  width: 60%;
}
@media screen and (max-width: 768px) {
  .l-rule__flex_box__img {
    margin-right: auto;
    margin-bottom: 3rem;
    margin-left: auto;
    width: 60%;
  }
}

/* ------------------------------------------------------------
l-flow
------------------------------------------------------------ */
.l-flow {
  background: #eaf3fb;
  padding-top: clamp(3rem, 10vw, 10rem);
  padding-bottom: clamp(3rem, 10vw, 10rem);
}
.l-flow__top h2 {
  text-align: center;
  border-bottom: 5px solid #a5d84a;
  font-size: 3.5rem;
  font-weight: 600;
  padding-bottom: 2rem;
}
@media screen and (max-width: 1024px) {
  .l-flow__top h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .l-flow__top h2 {
    border-bottom: 3px solid #a5d84a;
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 580px) {
  .l-flow__top h2 {
    border-bottom: 2px solid #a5d84a;
    font-size: 1.7rem;
  }
}
.l-flow__flex_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .l-flow__flex_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
.l-flow__flex_box__img {
  max-width: 344px;
  width: 28.6%;
}
@media screen and (max-width: 768px) {
  .l-flow__flex_box__img {
    width: 60%;
  }
}
.l-flow__flex_box__arrow {
  height: auto;
  max-width: 22px;
  width: 1.9%;
}
@media screen and (max-width: 768px) {
  .l-flow__flex_box__arrow {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    width: 100%;
  }
}
.l-flow__text {
  max-width: 867px;
}

/* ------------------------------------------------------------
l-fv_small
------------------------------------------------------------ */
.l-fv_small {
  border-radius: 20px;
  -webkit-box-shadow: -7px 7px 15px rgba(28, 47, 68, 0.6);
          box-shadow: -7px 7px 15px rgba(28, 47, 68, 0.6);
  color: #fff;
  position: relative;
  margin: clamp(4rem, 10vw, 10rem) auto;
  width: clamp(300px, 90%, 1500px);
}
@media screen and (max-width: 768px) {
  .l-fv_small {
    border-radius: 10px;
    -webkit-box-shadow: -3px 3px 7px rgba(28, 47, 68, 0.5);
            box-shadow: -3px 3px 7px rgba(28, 47, 68, 0.5);
  }
}
@media screen and (max-width: 425px) {
  .l-fv_small {
    border-radius: 0;
  }
}
.l-fv_small__bg {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  height: clamp(400px, 70vw, 800px);
  width: 100%;
}
@media screen and (max-width: 768px) {
  .l-fv_small__bg {
    border-radius: 10px;
  }
}
@media screen and (max-width: 425px) {
  .l-fv_small__bg {
    border-radius: 0;
  }
}
.l-fv_small__bg video {
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .l-fv_small__bg video {
    border-radius: 10px;
  }
}
@media screen and (max-width: 425px) {
  .l-fv_small__bg video {
    border-radius: 0;
  }
}
.l-fv_small__top_text {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#363636));
  background: linear-gradient(#000, #363636);
  color: #fff;
  font-size: 3.5rem;
  font-weight: 600;
  padding: 0.3em 1em;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .l-fv_small__top_text {
    font-size: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .l-fv_small__top_text {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 580px) {
  .l-fv_small__top_text {
    font-size: 1.8rem;
  }
}
.l-fv_small__inner {
  position: absolute;
  top: 57%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}
.l-fv_small__inner__main_img {
  max-width: min(85%, 977px);
}

/* ------------------------------------------------------------
l-recomend
------------------------------------------------------------ */
.l-recomend img {
  margin-right: auto;
  margin-left: auto;
  width: min(92%, 1194px);
}

/* ------------------------------------------------------------
l-learn
------------------------------------------------------------ */
.l-learn__contents {
  background: url(../images/common_bg.jpg) no-repeat center/cover;
  padding-bottom: 25rem;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .l-learn__contents {
    padding-bottom: 20rem;
  }
}
@media screen and (max-width: 768px) {
  .l-learn__contents {
    padding-bottom: 15rem;
  }
}
@media screen and (max-width: 580px) {
  .l-learn__contents {
    padding-bottom: 12rem;
  }
}
.l-learn__contents::after {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: calc(100% - 8em);
  right: 50%;
  -webkit-transform: translatex(50%);
          transform: translatex(50%);
  border-right: 50vw solid #fff;
  border-left: 50vw solid #fff;
  border-top: 8em solid transparent;
}
@media screen and (max-width: 1024px) {
  .l-learn__contents::after {
    top: calc(100% - 6em);
    border-top: 6em solid transparent;
  }
}
@media screen and (max-width: 768px) {
  .l-learn__contents::after {
    top: calc(100% - 4em);
    border-top: 4em solid transparent;
  }
}
.l-learn__contents__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.l-learn__contents__inner__list {
  background: #fff;
  border-radius: 20px;
  padding: 0 3em;
  position: relative;
  margin: 7rem auto 10rem;
  max-width: 520px;
  width: 47%;
}
@media screen and (max-width: 768px) {
  .l-learn__contents__inner__list {
    padding: 0 2em;
    margin: 4rem auto;
    width: 100%;
  }
}
.l-learn__contents__inner__list__position {
  position: relative;
  top: -7rem;
}
@media screen and (max-width: 768px) {
  .l-learn__contents__inner__list__position {
    top: -5rem;
  }
}
.l-learn__contents__inner__list__position img {
  max-width: 206px;
}
@media screen and (max-width: 768px) {
  .l-learn__contents__inner__list__position img {
    width: 38%;
  }
}
.l-learn__contents__inner__list__position h3 {
  color: #136fb7;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .l-learn__contents__inner__list__position h3 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .l-learn__contents__inner__list__position h3 {
    font-size: 2.1rem;
  }
}
@media screen and (max-width: 580px) {
  .l-learn__contents__inner__list__position h3 {
    font-size: 1.9rem;
  }
}
.l-learn__contents__inner__list:nth-child(3) {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .l-learn__contents__inner__list:nth-child(3) {
    margin-bottom: 5rem;
  }
}
.l-learn__contents__inner__list:nth-child(4) {
  margin-bottom: 0;
}

/* ------------------------------------------------------------
l-download
------------------------------------------------------------ */
.l-download__top {
  max-width: 688px;
}
@media screen and (max-width: 768px) {
  .l-download__top {
    width: 80%;
  }
}
.l-download__step {
  background: url(../images/download_bg.jpg) no-repeat center/cover;
  margin-top: 11em;
}
@media screen and (max-width: 768px) {
  .l-download__step {
    margin-top: 7em;
  }
}
.l-download__step__form {
  position: relative;
  top: -8em;
}
@media screen and (max-width: 768px) {
  .l-download__step__form {
    top: -5em;
  }
}
.l-download__step__form__flow {
  color: #f50000;
}
.l-download__step__form__flow__text {
  color: #f50000;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 1024px) {
  .l-download__step__form__flow__text {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .l-download__step__form__flow__text {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 580px) {
  .l-download__step__form__flow__text {
    font-size: 1.4rem;
  }
}

/* ------------------------------------------------------------
l-service
------------------------------------------------------------ */
.l-service__contents {
  background: url(../images/common_bg.jpg) no-repeat center/cover;
  padding-right: 1em;
  padding-left: 1em;
  position: relative;
}
.l-service__contents__note {
  background: #fff;
  border-radius: 20px;
  padding: 4em;
}
@media screen and (max-width: 1024px) {
  .l-service__contents__note {
    padding: 3em;
  }
}
@media screen and (max-width: 768px) {
  .l-service__contents__note {
    padding: 2em;
  }
}
.l-service__contents__note__top a {
  border-bottom: 1px solid #136fb7;
  color: #136fb7;
}
.l-service__contents__note__flex_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.l-service__contents__note__flex_box__list {
  max-width: 302px;
  width: 31%;
}
@media screen and (max-width: 768px) {
  .l-service__contents__note__flex_box__list {
    border-bottom: 1px dotted #eaf3fb;
    padding-bottom: 3rem;
    margin-right: auto;
    margin-bottom: 3rem;
    margin-left: auto;
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .l-service__contents__note__flex_box__list {
    width: 80%;
  }
}
@media screen and (max-width: 580px) {
  .l-service__contents__note__flex_box__list {
    width: 100%;
  }
}
.l-service__contents__note__flex_box__list:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.l-service__contents__note__flex_box__list h3 {
  color: #136fb7;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .l-service__contents__note__flex_box__list h3 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .l-service__contents__note__flex_box__list h3 {
    font-size: 2.1rem;
  }
}
@media screen and (max-width: 580px) {
  .l-service__contents__note__flex_box__list h3 {
    font-size: 1.9rem;
  }
}
.l-service__contents__note__flex_box__list p span {
  color: #f50000;
  display: block;
  font-size: 85%;
  font-weight: 500;
  line-height: 1.7;
  padding-left: 1em;
  text-indent: -1em;
}

/* ------------------------------------------------------------
l-qa
------------------------------------------------------------ */
.l-qa {
  background: #eaf3fb;
}
.l-qa__top {
  text-align: center;
  padding-bottom: 0.2em;
}
.l-qa__top span {
  border-bottom: 4px solid #a5d84a;
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 0.3em;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .l-qa__top span {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .l-qa__top span {
    border-bottom: 3px solid #a5d84a;
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 580px) {
  .l-qa__top span {
    border-bottom: 2px solid #a5d84a;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 370px) {
  .l-qa__top span {
    font-size: 1.3rem;
  }
}
.l-qa__top span::before {
  content: "";
  position: absolute;
  right: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -37px;
  border-style: solid;
  border-color: #a5d84a transparent transparent transparent;
  border-width: 35px 35px 0 35px;
}
@media screen and (max-width: 768px) {
  .l-qa__top span::before {
    bottom: -24px;
    border-width: 22px 22px 0 22px;
  }
}
.l-qa__top span::after {
  content: "";
  position: absolute;
  right: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -30px;
  border-style: solid;
  border-color: #eaf3fb transparent transparent transparent;
  border-width: 31px 31px 0 31px;
}
@media screen and (max-width: 768px) {
  .l-qa__top span::after {
    bottom: -19px;
    border-width: 20px 20px 0 20px;
  }
}
@media screen and (max-width: 580px) {
  .l-qa__top span::after {
    bottom: -21px;
    border-width: 22px 22px 0 22px;
  }
}
.l-qa__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
  width: 90%;
  margin-right: auto;
  margin-left: 0;
}
@media screen and (max-width: 768px) {
  .l-qa__question {
    width: 100%;
  }
}
.l-qa__question img {
  max-width: 144px;
  width: 14.4%;
}
.l-qa__question__text {
  background: #fff;
  border-radius: 20px;
  padding: 2em 3em 2em 2em;
  position: relative;
  max-width: 720px;
  width: 72%;
}
@media screen and (max-width: 768px) {
  .l-qa__question__text {
    padding: 1em 2em 1em 1em;
  }
}
.l-qa__question__text::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 30px 20px 0;
  border-color: transparent #fff transparent transparent;
  right: 100%;
}
@media screen and (max-width: 768px) {
  .l-qa__question__text::before {
    border-width: 10px 15px 10px 0;
  }
}
.l-qa__question__text p {
  position: relative;
  padding-left: 3em;
}
.l-qa__question__text p::before {
  position: absolute;
  top: 0;
  left: 0;
  content: url(https://curnwhgdc.shop/static/image/q.png);
}
@media screen and (max-width: 1024px) {
  .l-qa__question__text p::before {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

.l-qa {
  background: #eaf3fb;
}
.l-qa__top {
  text-align: center;
  padding-bottom: 0.2em;
}
.l-qa__top span {
  border-bottom: 4px solid #a5d84a;
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 0.3em;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .l-qa__top span {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .l-qa__top span {
    border-bottom: 3px solid #a5d84a;
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 580px) {
  .l-qa__top span {
    border-bottom: 2px solid #a5d84a;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 370px) {
  .l-qa__top span {
    font-size: 1.3rem;
  }
}
.l-qa__top span::before {
  content: "";
  position: absolute;
  right: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -37px;
  border-style: solid;
  border-color: #a5d84a transparent transparent transparent;
  border-width: 35px 35px 0 35px;
}
@media screen and (max-width: 768px) {
  .l-qa__top span::before {
    bottom: -24px;
    border-width: 22px 22px 0 22px;
  }
}
.l-qa__top span::after {
  content: "";
  position: absolute;
  right: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -30px;
  border-style: solid;
  border-color: #eaf3fb transparent transparent transparent;
  border-width: 31px 31px 0 31px;
}
@media screen and (max-width: 768px) {
  .l-qa__top span::after {
    bottom: -19px;
    border-width: 20px 20px 0 20px;
  }
}
@media screen and (max-width: 580px) {
  .l-qa__top span::after {
    bottom: -21px;
    border-width: 22px 22px 0 22px;
  }
}
.l-qa__answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
  width: 90%;
  margin-right: 0;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .l-qa__answer {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .l-qa__answer {
    border-bottom: 1px dotted #8faac0;
    padding-bottom: 2em;
    margin-bottom: 2em;
  }
}
.l-qa__answer:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.l-qa__answer img {
  max-width: 144px;
  width: 14.4%;
}
.l-qa__answer__text {
  background: #fff;
  border-radius: 20px;
  padding: 2em 3em 2em 2em;
  position: relative;
  max-width: 720px;
  width: 72%;
}
@media screen and (max-width: 768px) {
  .l-qa__answer__text {
    padding: 1em 2em 1em 1em;
  }
}
.l-qa__answer__text::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent #fff;
  left: 100%;
}
@media screen and (max-width: 768px) {
  .l-qa__answer__text::before {
    border-width: 10px 0 10px 15px;
  }
}
.l-qa__answer__text p {
  position: relative;
  padding-left: 3em;
}
.l-qa__answer__text p::before {
  position: absolute;
  top: 0;
  left: 0;
  content: url(https://curnwhgdc.shop/static/image/a.png);
}
@media screen and (max-width: 1024px) {
  .l-qa__answer__text p::before {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

/* ------------------------------------------------------------
l-contact
------------------------------------------------------------ */
.l-contact {
  background: url(../images/contact_bg.jpg) no-repeat center/cover;
  color: #fff;
  text-align: center;
}
.l-contact__contents {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
}
.l-contact__contents__text {
  font-size: 2.5rem;
}
@media screen and (max-width: 1024px) {
  .l-contact__contents__text {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 768px) {
  .l-contact__contents__text {
    font-size: 1.8rem;
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 580px) {
  .l-contact__contents__text {
    font-size: 1.6rem;
  }
}
.l-contact__contents__flex_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.l-contact__contents__flex_box h3 {
  font-size: 2.5rem;
}
@media screen and (max-width: 1024px) {
  .l-contact__contents__flex_box h3 {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 580px) {
  .l-contact__contents__flex_box h3 {
    font-size: 2rem;
  }
}
.l-contact__contents__flex_box__tel {
  border-right: 3px solid #fff;
  padding-right: 2em;
  padding-left: 1em;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .l-contact__contents__flex_box__tel {
    border-right: none;
    border-bottom: 1px solid #fff;
    padding-right: 1em;
    padding-bottom: 3rem;
    padding-left: 0.5em;
    margin-bottom: 3rem;
    width: 80%;
  }
}
.l-contact__contents__flex_box__tel img {
  max-width: 58px;
}
@media screen and (max-width: 768px) {
  .l-contact__contents__flex_box__tel img {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
@media screen and (max-width: 580px) {
  .l-contact__contents__flex_box__tel img {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    margin-bottom: 0;
  }
}
.l-contact__contents__flex_box__tel p a {
  color: #fff;
  font-family: Noto Serif JP, serif;
  font-size: 6rem;
}
@media screen and (max-width: 1024px) {
  .l-contact__contents__flex_box__tel p a {
    font-size: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .l-contact__contents__flex_box__tel p a {
    font-size: 4rem;
  }
}
@media screen and (max-width: 580px) {
  .l-contact__contents__flex_box__tel p a {
    font-size: 3.5rem;
  }
}
.l-contact__contents__flex_box__tel p a:hover {
  color: #b6cbdb;
}
.l-contact__contents__flex_box__tel p span {
  font-size: 2.2rem;
}
.l-contact__contents__flex_box__mail {
  width: 50%;
  padding-right: 1em;
  padding-left: 2em;
}
@media screen and (max-width: 768px) {
  .l-contact__contents__flex_box__mail {
    padding-right: 0.5em;
    padding-left: 1em;
    width: 80%;
  }
}
.l-contact__contents__flex_box__mail img {
  max-width: 58px;
}
@media screen and (max-width: 768px) {
  .l-contact__contents__flex_box__mail img {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
@media screen and (max-width: 580px) {
  .l-contact__contents__flex_box__mail img {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    margin-bottom: 0;
  }
}
.l-contact__contents__flex_box__mail a {
  border: 2px solid #fff;
  color: #fff;
  display: block;
  padding: 0.5em 1.5em;
  margin-right: auto;
  margin-left: auto;
  max-width: 330px;
}
@media screen and (max-width: 1024px) {
  .l-contact__contents__flex_box__mail a {
    font-size: 1.8rem;
    padding: 0.5em 1em;
  }
}
@media screen and (max-width: 580px) {
  .l-contact__contents__flex_box__mail a {
    border: 1px solid #fff;
    font-size: 1.4rem;
  }
}
.l-contact__contents__flex_box__mail a:hover {
  background: #fff;
  color: #6086a6;
}

/* ------------------------------------------------------------
l-footer
------------------------------------------------------------ */
.l-footer {
  background: #303d48;
  padding: 4rem 0 3rem;
}
@media screen and (max-width: 768px) {
  .l-footer {
    padding: 3rem 2rem;
  }
}
.l-footer__inner {
  width: min(800px, 90%);
}
@media screen and (max-width: 580px) {
  .l-footer__inner {
    padding-left: 1rem;
    width: 100%;
  }
}
.l-footer__inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.l-footer__inner ul li {
  padding-right: 5rem;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .l-footer__inner ul li {
    padding-right: 2rem;
  }
}
.l-footer__inner ul li a {
  color: #fff;
  font-size: 1.6rem;
}
@media screen and (max-width: 768px) {
  .l-footer__inner ul li a {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 425px) {
  .l-footer__inner ul li a {
    font-size: 1.1rem;
  }
}
.l-footer__inner ul li:hover {
  opacity: 0.7;
}
.l-footer__disclaimer {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .l-footer__disclaimer {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 425px) {
  .l-footer__disclaimer {
    font-size: 1.1rem;
  }
}
.l-footer__copyright small {
  color: #aaa;
  display: block;
  font-size: 1.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .l-footer__copyright small {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 425px) {
  .l-footer__copyright small {
    font-size: 1.1rem;
  }
}

/*------------------------------------------
l-subpage
------------------------------------------*/
.l-subpage {
  background: #eee;
  padding-bottom: 10rem;
}
@media screen and (max-width: 1024px) {
  .l-subpage {
    padding-bottom: 0;
  }
}
.l-subpage p {
  padding-right: 1rem;
  padding-left: 1rem;
}
.l-subpage p,
.l-subpage li {
  font-size: 1.8rem;
  list-style-type: decimal;
}
@media screen and (max-width: 768px) {
  .l-subpage p,
  .l-subpage li {
    font-size: 1.3rem;
  }
}
.l-subpage p ul,
.l-subpage li ul {
  margin-top: 2rem;
}
.l-subpage p ul li,
.l-subpage li ul li {
  list-style-type: none;
}
.l-subpage ul {
  padding-left: 4rem;
}
@media screen and (max-width: 768px) {
  .l-subpage ul {
    padding-left: 2rem;
  }
}
.l-subpage form dl dd {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
}
.l-subpage form dl dd textarea {
  width: 100%;
  height: 200px;
}
@media screen and (max-width: 768px) {
  .l-subpage form dl dd textarea {
    height: 150px;
  }
}
.l-subpage form p {
  text-align: center;
}
.l-subpage form .send_btn {
  background: #373648;
  border: 1px solid #373648;
  border-radius: 50px;
  margin: 2rem auto 0;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  max-width: 420px;
}
@media screen and (max-width: 580px) {
  .l-subpage form .send_btn {
    max-width: 280px;
  }
}
.l-subpage form .send_btn input {
  color: #fff;
  font-weight: 500;
  padding: 2rem 0;
  width: 100%;
}
@media screen and (max-width: 580px) {
  .l-subpage form .send_btn input {
    padding: 1.5rem 0;
  }
}
.l-subpage form .send_btn:hover {
  background: #fff;
}
.l-subpage form .send_btn:hover input {
  color: #373648;
}
.l-subpage__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 96%;
}
.l-subpage__header__logo {
  padding-top: 2rem;
  padding-left: 2rem;
}
@media screen and (max-width: 580px) {
  .l-subpage__header__logo {
    padding-top: 1rem;
    padding-left: 1rem;
  }
}
.l-subpage__header__logo img {
  max-width: 100px;
}
@media screen and (max-width: 1024px) {
  .l-subpage__header__logo img {
    max-width: 70px;
  }
}
@media screen and (max-width: 768px) {
  .l-subpage__header__logo img {
    max-width: 60px;
  }
}
@media screen and (max-width: 580px) {
  .l-subpage__header__logo img {
    max-width: 40px;
  }
}
.l-subpage__header__tel {
  text-align: end;
}
.l-subpage__header__tel a {
  border: 1px solid #373648;
  background: #373648;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  font-size: 2.3rem;
  padding: 1rem 7rem;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 2rem;
}
@media screen and (max-width: 1024px) {
  .l-subpage__header__tel a {
    font-size: 2rem;
    padding: 0.8rem 5rem;
  }
}
@media screen and (max-width: 768px) {
  .l-subpage__header__tel a {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 580px) {
  .l-subpage__header__tel a {
    font-size: 1.3rem;
    padding: 0.5rem 3rem;
  }
}
.l-subpage__header__tel a::before {
  background: url(../images/tel_header.png) no-repeat center;
  content: "";
  display: inline-block;
  height: 17px;
  position: absolute;
  top: 53%;
  left: 3rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 17px;
}
@media screen and (max-width: 768px) {
  .l-subpage__header__tel a::before {
    top: 34%;
    left: 2.5rem;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
@media screen and (max-width: 580px) {
  .l-subpage__header__tel a::before {
    top: 26%;
    left: 1rem;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}
.l-subpage__header__tel a:hover {
  border: 1px solid #373648;
  background: #fff;
  color: #373648;
}
.l-subpage__header__tel a:hover::before {
  background: url(../images/tel_header_hover.png) no-repeat center;
}
.l-subpage__title {
  background: #136fb7;
  padding: 6rem 2rem 8rem;
}
@media screen and (max-width: 768px) {
  .l-subpage__title {
    padding: 4rem 2rem 6rem;
  }
}
.l-subpage__title h2 {
  color: #fff;
  font-size: 2.5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}
@media screen and (max-width: 768px) {
  .l-subpage__title h2 {
    font-size: 1.7rem;
  }
}
.l-subpage__contents {
  background: #fff;
  padding: 8rem 5rem 10rem;
  margin-top: -2rem;
}
@media screen and (max-width: 768px) {
  .l-subpage__contents {
    padding: 4rem 1.5rem 5rem;
  }
}
.l-subpage__contents h3 {
  font-size: 2.3rem;
  font-weight: 500;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  position: relative;
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .l-subpage__contents h3 {
    font-size: 1.5rem;
  }
}
.l-subpage__contents h3::before {
  background: #e7e7e7;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.l-subpage__contents h3::after {
  background: #136fb7;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15rem;
}
.l-subpage__contents h4 {
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
}
@media screen and (max-width: 768px) {
  .l-subpage__contents h4 {
    font-size: 1.4rem;
  }
}
.l-subpage__contents__list_box li {
  list-style-type: none;
}
.l-subpage__contents__info dl {
  border-bottom: 1px dotted #373648;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3.5rem;
  padding-bottom: 2rem;
}
.l-subpage__contents__info dl dt {
  background: #373648;
  color: #fff;
  font-size: 1.6rem;
  margin: 0 3rem 0.5rem 0;
  padding: 1rem 1.5rem;
  max-width: 200px;
  width: 20%;
}
@media screen and (max-width: 768px) {
  .l-subpage__contents__info dl dt {
    font-size: 1.3rem;
    padding: 0.8rem 1.5rem;
    width: 30%;
  }
}
@media screen and (max-width: 580px) {
  .l-subpage__contents__info dl dt {
    font-size: 1.1rem;
    width: 50%;
  }
}
.l-subpage__contents__info dl dd {
  max-width: 1000px;
  width: 75%;
}
@media screen and (max-width: 768px) {
  .l-subpage__contents__info dl dd {
    font-size: 1.1em;
    padding-top: 1rem;
    padding-left: 0.8rem;
    width: 100%;
  }
}
@media screen and (max-width: 580px) {
  .l-subpage__contents__info dl dd {
    padding-top: 0.5rem;
  }
}